.Container {
  --color-black: #000;
  --color-gray: #666;
  --color-white: #fff;
  --height-highway: 200px;
  
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;

  & > div:first-of-type {
    --border-width: 3px;
    position: relative;
    border-top: solid var(--border-width) var(--color-black);
    border-bottom: solid var(--border-width) var(--color-black);
    height: 200px;
  }

  .Highway {
    position: absolute;
    background-color: var(--color-gray);
    height: 100px;
    width: 100%;
    top: 25%;

    .Road {
      width: 100%;
      border-bottom: dashed 2px var(--var-white);
      height: 50%;
    }

    .Car {
      --car-font-size: 70px;
      position: relative;
      font-size: var(--car-font-size);
      transform: scaleX(-1) translate(0px, 52px);
      display: inline-block;
    }
  }

  .Tunnel {
    position: absolute;
    right: 80px;
    height: var(--height-highway);
    width: 350px;
    background-color: orangered;
    z-index: 100;
  }

  .Controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

    button {
      font-size: 50px;
      border: solid 1px lightcoral;
    }
  }

  .Timer {
    font-size: 180px;
    z-index: 1000;
    position: absolute;
    left: calc(50% - 1ch / 2);
    top: 50%;
  }
}
